
body    {
        font-family: Helvetica, Arial, sans-serif;
        color: #000000;
        background-color: #FFFFFF;
        font-size: 10px;
        text-align: center;
        margin: 0;
        padding:0;
        font-weight: normal;

        }
h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #000000;
        margin: 5px;
        font-weight: bold;
        font-size: 16px;
}
h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #000000;
        margin-top: 15px;
        font-weight: bold;
        font-size: 14px;
}
p {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.2;
        text-height: 1.2;
        text-indent: 30px;
        text-align: justify;
        font-weight: normal;
        }
img {
        border-width: 0;
        }
small {
      font-size: 10px;

      }
A {font-size: 12px;}
A:link {COLOR:#000066; TEXT-DECORATION: none; text-align: justify;}
A:visited {COLOR:#000066; TEXT-DECORATION: none}
A:active {COLOR:#000066; TEXT-DECORATION: none}
A:hover {COLOR:#FF0000; TEXT-DECORATION: underline}
#site-logo {
        float: left;
        width: 300px;
        height: 135px;
        }
#site-description-top {
        font-family:  Arial, Helvetica, sans-serif;
        text-align: center;
        color: #000000;
        font-weight: bold;
        font-size: 15px;

        height: 24px;
        width: 570px;
        position: absolute;
        left: 301px;
        top: 0;
        text-decoration: underline;
        }
#site-description-middle {
        font-family:  Arial, Helvetica, sans-serif;
        text-align: center;
        color: #000000;
        font-weight: bold;
        font-size: 14px;

        height: 87px;
        width: 570px;
        position: absolute;
        left: 301px;
        top: 25;
        }
#site-description-bottom {
        font-size: 12px;
        width: 570px;
        height: 24px;
        position: absolute;
        left: 301px;
        top: 112px;
        margin: 0;
        padding: 0;
        }
#site-contact {
        float: right;
        width: 150px;
        height: 135px;
        }
#body_top {


    width:100%; /*Ширина блока*/
    height: 136px;
    overflow: visible;
    float: left;
        }
#body_page {
    width:1024px; /*Ширина блока*/
    overflow: visible;
    position: absolute;
    left:50%;
    margin-left: -512px; /*Смещаем блок на половину всей ширины влево*/
    top: 0; /**/
    background:#ffffff;

    height: auto !important;
    height: 100%; /* для IE6 */
    min-height: 100%;
    }
#body_text {
    width:100%; /*Ширина блока*/
    text-align: justify;
        overflow: visible;
        float: left;
        clear: left;
        }
#article1 {
           font-size: 12px;
           float: left;
           width: 150px;
           overflow: visible;
           text-align: left;
       }
#article2 {
           font-size: 12px;
           float: right;
           width: 150px;
           overflow: visible;
       }
#main_body_text {
       font-size: 14px;
       /*margin-left:152px;
       margin-right:152px;*/
	   width: 710px;
       min-width: 670px;
       padding: 0;
       overflow: hidden;
       height: auto !important;
       height: 100%; /* для IE6 */
       min-height: 100%;
	   padding: 0 5px 0 5px;
	   float: left;
       }
#text_reklama {
      Width: 148px;
      font-size: 10px;
        }
#body_topic {
    width:100%; /*Ширина блока*/
    overflow: visible;
    text-align: justify;
         background: skyblue;
         height: 62px;
       }
#body_left {
    overflow: visible;
    margin: 1px;
    padding: 0;
    text-align: left;
        }
#body_right {
    overflow: visible;
    margin: 0;
    padding: 0;
    text-align: right;
        }
#body_bottom {
    width:100%; /*Ширина блока*/
    overflow: visible;
    margin: 10px 0 10px 0;
    padding: 0;
    text-align: left;
        float: left;
        clear: left;

        }
#body_bottom_calc  {
    float: left;
    }
#body_bottom_nav  {
    width: 620px;
    font-size: 8px;
    float: right;
    }
#body_bottom_info  {
    font-size: 8px;
    width: 100px;
    float: right;
    clear: right;
    }
#copyrigth {
    clear: both;
    float: both;
    width:100%; /*Ширина блока*/
    overflow: visible;
    text-align: center;
    background: skyblue;
        }
/*_____________________Page index_______________________*/
.text_news {
      font-size: 12px;
      Width: 148px;
        }
.title_news {
      font-size: 12px;
      padding: 4px 0 4px 0;
      margin: 1px 0 1px 0;
      Width: 148px;
      background: Aqua;
        }
.index-1  {

    font-size: 12px;
    width: 49%;
    float: left;
    clear: left;
    }
.index-2  {
    font-size: 12px;
    width: 49%;
    float: right;
    clear: right;
    }
  .T_top {
         width: 100%;
         height: 50px;
         padding: 0px;
         margin: 0px;
         text-align: center;
         }
  .T_left_about {
         width: 49%;
         height: 50px;
         padding: 5px;
         margin: 0px;

         }
  .T_right_about {
         width: 49%;
         height: 50px;
         padding: 5px;
         margin: 0px;

         }
  .prob {
         height: 200px;
         padding: 5px;
         margin: 0px;
         }
  .site-navig {
        float: left;
        height: 20px;
        width: 90px;
        background: skyblue;
        margin: 1px;
        padding: 2px 0 0 0;
        }
  .site-contact-text {
        height: 100px;
        margin: 0;
        font-size: 11px;
        }
  .contact-red {
        margin: 1px;
        color: red;
        font-weight: bold;
        }
  .contact-blue {
        margin: 1px;
        color: blue;
        font-weight: bold;
        }
    .echotext {
        position: absolute;
        left:0;
        Top: 0;
        }
.text_select{
     background-color: LightGray;
}
.text_input{
     background-color: LightGray;
}
.text_input_res{
     background-color: PapayaWhip;
}
.body_topic-1  {
    width: 258px;
    height: 60px;
    float: left;
    border: black solid 1px;
    font-weight: normal;
    margin: 1px;
    }
.body_topic-r  {
    width: 236px;
    height: 60px;
    float: right;
    border: black solid 1px;
    font-weight: normal;
    margin: 1px;
    }
.boiler_text  {
    width: 90%;
    font-size: 12px;
    margin: 7px;
    float: left;
    }
.100_text  {
    width: 100%;
    font-size: 12px;
    margin: 7px;
    float: left;
    }
.cube_160x160 {
    width: 173px;
    height: 160px;
    margin: 1px;
    padding: 0;
    text-align: left;
    border: black solid 1px;
        }
.text_article{
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.3;
        text-indent: 40px;
        text-align: justify;
        font-weight: normal;
	
        }
.text_image{
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.3;
        text-indent: 40px;
        text-align: center;
        font-weight: normal;
        }
.text_image_h{
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.3;
        text-indent: 40px;
        text-align: center;
        font-weight: normal;
	    display:none;
        }
.image_top{
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 0px;
        line-height: 1.0;
        text-indent: 40px;
        text-align: center;
        font-weight: normal;
	
        }
.image_top_space{
		margin: 0px 0px 0px 0px;
       }
.text_new{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.3;
        text-indent: 40px;
        text-align: justify;
        font-weight: normal;
		background: Orange;
        }
.about{
		width: 660px;
		float: left;
        }
.about_l1{
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.3;
        text-align: left;
		background: Khaki;
		width: 300px;
		height: 25px;
		float: left;
        }
.about_l2{
        font-size: 16px;
        margin-left: 175px;
        margin-bottom: 10px;
        line-height: 1.3;
        text-align: left;
		background: Khaki;
		width: 300px;
		height: 25px;
		float: left;
        }
.about_l3{
        font-size: 16px;
        margin-left: 355px;
        margin-bottom: 10px;
        line-height: 1.3;
        text-align: left;
		background: Khaki;
		width: 300px;
		height: 25px;
		float: left;
        }
.a_l{
        line-height: 1.3;
		text-align: center;
		background: red;
		width: 25px;
		height: 25px;
		float: left;
        }
.pin_100  {
    font-size: 14px;
	clear: both;
	padding: 0 0 10px 0;
	
    }
.tegs  {
    font-size: 10px;
	clear: both;
	padding: 0 0 10px 0;
	
    }
.pin_info  {
	width: 100%; 
	clear: both;
	padding: 0 0 10px 0;
	border: red solid 2px;
	text-align: center;
    }
.pin_info_left  {
	width: 100%; 
	clear: both;
	padding: 0 0 10px 0;
	border: red solid 2px;
	text-align: left;
    }
.pin_content  {
	padding: 0;
	margin: 0;
    }
.pin_center  {
    padding: 5px 0 5px 0;
	margin: 0 0 10px 0;
	text-align: center;
	background: GreenYellow;
    }
	
.pin_center_2  {
    padding: 5px 0 5px 0;
	margin: 0 0 10px 0;
	text-align: center;
	background: AntiqueWhite;
    }

.pin_in  {
	padding: 0 0 10px 0;
    }
	

.pin_green  {
    padding: 5px 0 5px 0;
	margin: 0 0 10px 0;
	text-align: center;
	background: #00FF7F;
    }

.pin_red  {
    padding: 5px 0 5px 0;
	margin: 0 0 10px 0;
	text-align: center;
	background: #FF6347;
    }
	
.pin_50l  {
	width: 48%;
    float: left;
	padding: 0;
	margin: 0;
	}
.pin_50r  {
    width: 48%;
    float: right;
	padding: 0;
	margin: 0;
    }

	
.text_center  {
    padding: 0 0 10px 0;
	margin: 0 0 0 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
    }
	
.text_note  {
    padding: 0 0 10px 0;
	margin: 0 0 0 0;
	text-align: left;
	font-size: 12px;
    font-style: italic;
    }

.text_1  {
    padding: 0 0 10px 0;
	margin: 0 0 0 0;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	text-indent: 35px;
    }
	
.text_2  {
    padding: 0 0 10px 0;
	margin: 0 0 0 0;
	text-align: left;
	font-size: 14px;
	text-indent: 35px;
    }
	
.text_3  {
    padding: 0 0 10px 0;
	margin: 0 0 0 0;
	text-align: left;
	font-size: 14px;
    }


 .tpl-composite-group-image {

     position: absolute;            }

.tpl-composite-group-text {

     position: relative;}

.pin_in_flanges  {
    position: relative;
	padding: 0 0 10px 0;
	height: 260px;}
	
.pin_in_dwg  {
    position: relative;
	padding: 0 0 10px 0;
	height: 560px;
    }
	
.table_flange  {
    padding: 1px 1px 1px 1px;
    width: 100%;
	border-width:1px;
	border-color: black;
	border-style: solid;
	text-align: center;
	font-size: 14px;
    }
  
 .table_m  {
    padding: 1px 1px 1px 1px;
    width: 100%;
	border-width:1px;
	border-color: black;
	border-style: solid;
	text-align: center;
	font-size: 12px;
    }

#input_id_1 {display: none;}
#input_id_2 {display: none;}
#input_id_3 {display: none;}
#input_id_4 {display: none;}
#input_id_5 {display: none;}
#input_id_6 {display: none;}
#input_id_7 {display: none;}
#input_id_8 {display: none;}
#input_id_9 {display: none;}
#input_id_10 {display: none;}

#lb_id_1 {display: none;}
#lb_id_2 {display: none;}
#lb_id_3 {display: none;}
#lb_id_4 {display: none;}
#lb_id_5 {display: none;}
#lb_id_6 {display: none;}
#lb_id_7 {display: none;}
#lb_id_8 {display: none;}
#lb_id_9 {display: none;}
#lb_id_10 {display: none;}

#input_beam_id_1 {display: none;}
#input_beam_id_2 {display: none;}
#input_beam_id_3 {display: none;}
#input_beam_id_4 {display: none;}
#input_beam_id_5 {display: none;}
#input_beam_id_6 {display: none;}
#input_beam_id_7 {display: none;}
#input_beam_id_8 {display: none;}
#input_beam_id_9 {display: none;}
#input_beam_id_10 {display: none;}

#lb_beam_id_1 {display: none;}
#lb_beam_id_2 {display: none;}
#lb_beam_id_3 {display: none;}
#lb_beam_id_4 {display: none;}
#lb_beam_id_5 {display: none;}
#lb_beam_id_6 {display: none;}
#lb_beam_id_7 {display: none;}
#lb_beam_id_8 {display: none;}
#lb_beam_id_9 {display: none;}
#lb_beam_id_10 {display: none;}

#lb_type_beam {display: none;}

	
	
