
A:link {COLOR: white; text-decoration: none; font-size: 12px; font-family: arial, sans-serif; 
line-height: 20px;}
A:visited {COLOR: white; text-decoration: none; font-size: 12px; font-family: arial, sans-serif; 
line-height: 20px;}
A:active {COLOR: yellow; font-size: 12px; font-family: arial, sans-serif; 
line-height: 20px;}
A:hover {COLOR: red; text-decoration: none; font-weight: bold; font-size: 12px; font-family: arial, sans-serif; 
line-height: 20px;}

.leftbar_bgd {background-color: white;}
.right_image {
border-top: 1px solid white;
background: #15317E url(indentbg.gif) center center repeat-x;
}
.menu_lines {COLOR: grey;}

.top_right_image {background-image: URL("TopPanelDiffEq2.jpg");
background-repeat: repeat-y;
background-position: center;
}


.left_menu {
	COLOR: black; 
	font-size: 90%;
	font-family: arial, helvetica, sans-serif;
	line-height: 150%;
	text-decoration: none;
	text-align: left;
	padding: 0em 0em 0.0em 2.2em;
}

.left_menu2 {
	COLOR: #C35817; 
	font-size: 90%;
	font-family: arial, helvetica, sans-serif;
	line-height: 150%;
	text-decoration: none;
	text-align: left;
	padding: 0em 0em 0.0em 1.5em;
}

.main_menu {
	COLOR: white; 
	font-size: 70%;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 140%;
	text-align: center;
}

.main_menu2 {
	COLOR: black; 
	font-size: 90%;
	font-family: arial, helvetica, sans-serif;
	line-height: 140%;
	text-decoration: none;
	text-align: center;
}

.main_menu3 {
	COLOR: white; 
	font-size: 90%;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 150%;
	text-align: center;
}

.body_text1 {
	font-size: 75%;
	font-family: arial, helvetica, sans-serif;
	font-weight: normal;
	line-height: 140%;
	word-spacing: 85%;
	letter-spacing: 75%;
}
.body_text2 {
	font-size: 70%;
	font-family: arial, helvetica, sans-serif;
	font-weight: normal;
	line-height: 130%;
	word-spacing: 85%;
	letter-spacing: 75%;
}
.body_text3 {
	font-size: 70%;
	font-family: arial, helvetica, sans-serif;
	font-weight: normal;
	line-height: 135%;
	word-spacing: 85%;
	letter-spacing: 75%;
	color: black;
}
.body_text4 {
	font-size: 80%;
	font-family: times new roman, sans-serif;
	font-weight: normal;
	line-height: 135%;
	word-spacing: 85%;
	letter-spacing: 75%;
	color: indigo;
}
.body_text5 {
	font-size: 90%;
	font-family: arial, times new roman, sans-serif;
	font-weight: normal;
	line-height: 150%;
	word-spacing: 85%;
	letter-spacing: 75%;
	color: blue;
}
.formulas_text1 {
	font-size: 110%;
	font-family: times new roman, sans-serif, arial;
	font-weight: normal;
	line-height: 150%;
	color: black;
}


.navigation_menu {
	COLOR: #8E8E8E; 
	font-size: 80%;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	line-height: 100%;
	text-align: right;
	padding: 0em 0em 0.0em 0.6em;
}

.horizontalmenu{
font: 20px Arial;
font-weight: bold;
float: left;
width: 100px; 
border-right: 1px solid white;
background: #15317E url(indentbg3.gif) center center repeat-x;
color: white;
text-align: center;
}

.horizontalmenu a:hover{
background: red url(indentbg4.gif) center center repeat-x;
font-weight: bold;
width: 100%;
float: left;
color: #15317E
}

.horizontalmenu a:active{
background: red url(indentbg4.gif) center center repeat-x;
width: 100%;
float: left;
}


