/* [ popover mask ] */
html body .grwf2_backdrop {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 9999999;
    /*zindex the same as popup*/
}

div.grwf2_backdrop.wf2-bg-dark {
    background-color: rgba(0, 0, 0, .7);
}

div.grwf2_backdrop.wf2-bg-light {
    background-color: rgba(255, 255, 255, .6);
}

div.grwf2-wrapper.wf2-scroll-box {
    z-index: 9999995;
    /*zindex lower then popup and backdrop*/
}

div.grwf2-wrapper {
    position: fixed !important;
    opacity: 0;
    z-index: 9999999;
}

div.grwf2-wrapper .grwf2_backdrop {
    display: none;
}

html[data-backdrop="on"] div.grwf2-wrapper > .grwf2_backdrop {
    display: none;
}

div.grwf2-wrapper.wf2-fixed-bar {
    width: 100% !important;
    left: 0 !important;
    z-index: 9999998;
    box-shadow:0 2px 3px 0 rgba(0,0,0,.3);
}

div.grwf2-wrapper.wf2-embedded {
    position: relative !important;
    opacity: 1 !important;
    z-index: 9999990;

    /* zindex lower then popup and fixed and scroll */
}

div.grwf2-wrapper.wf2-embedded.wf2-fixed > iframe {
    position: relative !important;
    box-shadow: none !important;
    z-index: 9999995;
}

div.grwf2-wrapper.wf2-popover > iframe,
#webform_preview div.grwf2-wrapper.wf2-fixed-embedded > iframe {
    top: 0 !important;
    left: 0 !important;
}

div.grwf2-wrapper.wf2-fixed-embedded > iframe {
    position: absolute !important;
}

div.grwf2-wrapper.wf2-fixed {
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    opacity: 1 !important;
    box-shadow: none !important;
}

div.grwf2-wrapper.wf2-abs {
    position: absolute !important;
    top: 5px !important;
}

div.grwf2-wrapper.wf2-abs > iframe {
    position: absolute !important;
}

div.grwf2-wrapper.wf2-scroll-box > iframe.wf2-initial {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

div.grwf2-wrapper.wf2-lightbox a[href="#close"],
div.grwf2-wrapper.wf2-popover a[href="#close"] {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 12px;
    height: 12px;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
    background: no-repeat center center url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe29wYWNpdHk6MC44O2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6IzgwODA4MDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjIuOSw0LjJMMTUuMiwxMmw3LjUsNy41YzAuOSwwLjksMC45LDIuMiwwLDMuMWMtMC45LDAuOS0yLjIsMC45LTMuMSwwbC03LjUtNy41TDQuMiwyM2MtMC45LDAuOS0yLjMsMC45LTMuMSwwYy0wLjktMC45LTAuOS0yLjMsMC0zLjFMOSwxMkwxLDQuMUMwLjIsMy4zLDAuMiwxLjksMSwxczIuMi0wLjksMy4xLDBMMTIsOC45bDcuOC03LjhjMC45LTAuOSwyLjMtMC45LDMuMSwwQzIzLjgsMiwyMy44LDMuNCwyMi45LDQuMnoiLz48L3N2Zz4=);
    background-size: 100%;
    z-index: 999999;
}

div.grwf2-wrapper.wf2-popover a[href="#close"]:hover {
    opacity: .7;
}

div.grwf2-wrapper.wf2-none {
    display: none;
}

div.grwf2-wrapper.wf2-none.wf2-loaded {
    display: block;
    opacity: 1;
}

div.grwf2-wrapper.wf2-loaded a[href="#close"] {
    opacity: 1;
}

.wf2-hidden {
    display: none !important;
}

div.grwf2-wrapper.wf2-lightbox a[href="#close"]:hover {
    opacity: .8;
}

/*html.preview div.grwf2-wrapper.wf2-embedded {
    position: fixed !important;
}*/

div.grwf2-wrapper.wf2-abs.wf2-embedded,
div.grwf2-wrapper.wf2-abs.wf2-embedded > iframe {
    position: static !important;
}

html.preview div.grwf2-wrapper.wf2-embedded.wf2-fixed > iframe {
    top: 0;
    left: 0;
}

/*div.grwf2-wrapper.wf2-abs.wf2-embedded > iframe {
    left: 0 !important;
}*/

/*------------------------------------*\
    POSITION
\*------------------------------------*/

.grwf2-wrapper.wf2-top {
    top: 0;
}

.grwf2-wrapper.wf2-top-right {
    top: 0;
    right: 0;
}

.grwf2-wrapper.wf2-top-left {
    top: 0;
    left: 0;
}

.grwf2-wrapper.wf2-right {
    right: 0;
}

.grwf2-wrapper.wf2-bottom {
    bottom: 0;
}

.grwf2-wrapper.wf2-bottom-right {
    right: 0;
    bottom: 0;
}

.grwf2-wrapper.wf2-bottom-left {
    bottom: 0;
    left: 0;
}

.grwf2-wrapper.wf2-left {
    left: 0;
}

/*------------------------------------*\
    ANIMATION
\*------------------------------------*/

.grwf2-wrapper.wf2-animated,
.grwf2-wrapper.wf2-animated::before {
    -webkit-transition: all .3s cubic-bezier(.25, .5, .5, .9);
    transition: all .3s cubic-bezier(.25, .5, .5, .9);
}

/* [ fade in ] */
.grwf2-wrapper.wf2-fade {
    opacity: 0;
}

.grwf2-wrapper.wf2-fade.wf2-animated {
    opacity: 1;
}

/* [ slide in top ] */
.grwf2-wrapper.wf2-slide,
.grwf2-wrapper.wf2-slide-in-top {
    -webkit-transform: translate3D(0, -20%, 0);
    -ms-transform: translate3D(0, -20%, 0);
    transform: translate3D(0, -20%, 0);
}

/* [ slide in right ] */
.grwf2-wrapper.wf2-slide-in-right {
    -webkit-transform: translate3D(20%, 0, 0);
    -ms-transform: translate3D(20%, 0, 0);
    transform: translate3D(20%, 0, 0);
}

/* [ slide in bottom ] */
.grwf2-wrapper.wf2-slide-in-bottom {
    -webkit-transform: translate3D(0, 20%, 0);
    -ms-transform: translate3D(0, 20%, 0);
    transform: translate3D(0, 20%, 0);
}

/* [ slide in left ] */
.grwf2-wrapper.wf2-slide-in-left {
    -webkit-transform: translate3D(-20%, 0, 0);
    -ms-transform: translate3D(-20%, 0, 0);
    transform: translate3D(-20%, 0, 0);
}

/* [ common transition for slide effect ] */
.grwf2-wrapper.wf2-slide,
.grwf2-wrapper.wf2-slide-in-top,
.grwf2-wrapper.wf2-slide-in-right,
.grwf2-wrapper.wf2-slide-in-bottom,
.grwf2-wrapper.wf2-slide-in-left {
    opacity: 0;
}

.grwf2-wrapper.wf2-slide.wf2-animated,
.grwf2-wrapper.wf2-slide-in-top.wf2-animated,
.grwf2-wrapper.wf2-slide-in-right.wf2-animated,
.grwf2-wrapper.wf2-slide-in-bottom.wf2-animated,
.grwf2-wrapper.wf2-slide-in-left.wf2-animated {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}

/* [ shake ] */
.grwf2-wrapper.wf2-shake-box.wf2-animated {
    opacity: 1;
    -webkit-animation: shake 1s linear 3 alternate;
    animation: shake 1s linear 3 alternate;
}

@keyframes shake {
    0% {
        transform: rotate(0deg) scale(1, 1);
    }
    20% {
        transform: rotate(0deg) scale(1, 1);
    }
    35% {
        transform: rotate(2deg) scale(.99, .99);
    }
    50% {
        transform: rotate(-2deg) scale(1.01, 1.01);
    }
    65% {
        transform: rotate(2deg) scale(.99, .99);
    }
    80% {
        transform: rotate(0deg) scale(1, 1);
    }
    100% {
        transform: rotate(0deg) scale(1, 1);
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(0deg) scale(1, 1);
    }
    20% {
        -webkit-transform: rotate(0deg) scale(1, 1);
    }
    35% {
        -webkit-transform: rotate(2deg) scale(.99, .99);
    }
    50% {
        -webkit-transform: rotate(-2deg) scale(1.01, 1.01);
    }
    65% {
        -webkit-transform: rotate(2deg) scale(.99, .99);
    }
    80% {
        -webkit-transform: rotate(0deg) scale(1, 1);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1, 1);
    }
}

/* [ scale up ] */
.grwf2-wrapper.wf2-scale-up {
    opacity: 0 !important;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
}

.grwf2-wrapper.wf2-scale-up.wf2-animated {
    opacity: 1 !important;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* [ scale down ] */
.grwf2-wrapper.wf2-scale-down {
    opacity: 0 !important;
    -webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
}

.grwf2-wrapper.wf2-scale-down.wf2-animated {
    opacity: 1 !important;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}




